doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Memory Game
    link(rel='stylesheet', href='/style.css')
  body
    container.header
      row
        col-md-12.title Test your memory
    
      container.box
        #boxSet
    
          
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/main.js')
    script(src='/Boxsets/set1.js')
    script(src='/vendor/lodash/lodash.js')  
