body {
  background: url('http://www.mrwallpaper.com/wallpapers/league-of-legends-champions-art-1920x1080.jpg') no-repeat center center fixed;
  background-size:cover;
}

#boxSet {
  width: 520px;
  height: 670px;
  background: white;
}

.backimg {
  background: linear-gradient(to left top, orange 50%, red 80%);
  display: inline-block;

  margin: 5px 5px 5px 5px;

  &> div:first-child {
    height: 100px;
    width: 100px;
    background-size: cover;
    margin: 10px;
  }
}
