body {
  background: url('http://www.mrwallpaper.com/wallpapers/league-of-legends-champions-art-1920x1080.jpg') no-repeat center center fixed;
  background-size:cover;
}

#head {
  text-align: center;
}

.start {
  // margin: auto;
  display: inline-block;
  font-size: 20px;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  background-color: white;
}

#timer {
  color: red;
  font-weight: bold;
  font-family: monospace;
  padding: 5px auto;
  font-size: 50px;
  text-align: center;
  margin-top: 15px;
}

#boxSet {
  // width: 530px;
  // height: 630px;
  // margin: 0;
  // display: inline-block;

  // background: white;
}
//
// .backimg {
//   background: linear-gradient(to left top, orange 50%, red 80%);
//   display: inline-block;
//
//   margin: 5px 5px 5px 5px;
//
//   &> div:first-child {
//     height: 100px;
//     width: 100px;
//     background-size: cover;
//     margin: 10px;
//   }
// }

.backcolor {
    background: linear-gradient(to left top, orange 50%, red 80%);
    display: inline-block;
    height: 110px;
    width: 110px;
    background-size: cover;
    // margin: 15px 0px -5px 15px;
}

.flip-container {
  perspective: 1000;
  display: inline-block;
  position: relative;
}
  /* flip the pane when hovered */
// .flip-container:hover .flipper, .flip-container.flip .flipper {
//     transform: rotateY(180deg);
//   }
.flip {
  transform: rotateY(180deg);
}

// .matchFound {
//   transform: rotateY(180deg);
// }

.flip-container, .front, .back {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 10px 15px 0px 15px;

}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;

}

/* front pane, placed above back */
.front {
  z-index: 2;
  background-image: url('../lolimages/cover.png');
  background-size: cover;
  text-align: center;
  margin: 5px;

  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  background-size: cover;
  text-align: center;
  margin: 5px;
}
